<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>社团管理系统</title>
    <link rel="icon" type="image/ico" href="{{url_for('static', filename='img/favicon.ico"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="#">Society Management System</a>
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的社团</a>
              <ul class="dropdown-menu dropdown-inverse">
                <li><a href="#">创建社团</a></li>
                <li><a href="#">加入社团</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人信息</a>
              <ul class="dropdown-menu dropdown-inverse">
                <li><a href="#">修改信息</a></li>
                <li><a href="#">退出系统</a></li>
              </ul>
            </li>
            <li><a href="#">消息通知</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div id="create-society">
            <h1>创建社团</h1>
            <hr>
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">社团名称：</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="societyname" placeholder="*必填项">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">社团导师：</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="soceitymentor" placeholder="*必填项">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">创始人：</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="societycreater" placeholder="*必填项">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">社长：</label>
                <div class="col-sm-10">
                  <input class="form-control" type="text" name="societymanager" placeholder="选填项">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">社团简介：</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-default btn-lg" type="submit">提交申请</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
  </body>
</html>