<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/bootstrap/3.3.6/bootstrap.min.css')}}">
    <link href="{{url_for('static', filename='stylesheets/style.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="block" id="signin">
            <h2>Sign In</h2>
            <span>{{notification or ''}}</span>
            <form method="POST" action="." accept-charset="UTF-8" role="form">
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon">StudentID</span>
                  <input class="form-control" type="text" name='stuid' placeholder="e.g. 133xxxxx">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group"><span class="input-group-addon">Password</span>
                  <input class="form-control" type="password" name='password' placeholder="Password">
                </div>
              </div>
              <div class="form-group has-success has-feedback">
                <button class="btn btn-lg btn-default" type="submit">Commit</button><a class="pull-right" href="/signup">signup</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery/2.2.1/jquery.min.js')}}"></script>
  </body>
</html>